body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  /*background-image: url('http://www.nasa.gov/images/content/627369main_hubble_1600_946-710.jpg');*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer {
  transition: width 1s ease, height 1s ease;
}

.blinkydancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}
.shuffledancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.squaredancer{
  border:10px solid yellow;
  border-radius:0px;
  position:absolute;
}
.runningdancer{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}

.wobbledancer{
  border: 10px solid purple;
  height: 30px;
  width: 30px;
  border-radius:100%;
  position:absolute;
}

.wabbledancer{
  border: 10px solid yellow;
  height: 30px;
  width: 30px;
  border-radius:100%;
  position:absolute;
}

.dancer-grow {
  width: 100px;
  height: 100px;
}

.dancer-small {
  width: 30px;
  height: 30px;
}

.dancer-lineup {
  left: 0px;
}
